h2 {
    text-align: center;
    margin: 2rem 0rem;
    font-size: 1.4em;
    /* margin-bottom: 20px; */
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 85%;
    justify-self: center;
    min-width: 600px; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #007BFF; 
    color: white;
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: #f2f6fc;
}

@media (max-width: 768px) {

    th, td {
        padding: 10px 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        min-width: 100%; 
    }
    th, td {
        padding: 8px 6px;
        font-size: 12px;
    }
}
